.goal {
  &-parent {
    &-goal {
      border: 1px solid rgb(224, 224, 224);
    }
    &-buttons {
      position: absolute;
	    right: 0;
	    top: 280px;
    }
  }
  &-info {
    &-card {
      &-progress {
        font-size: 0.8rem;
        position: relative;
        margin-bottom: 25px;
        &-left {
          position: absolute;
          left: 0;
          margin-left: -8px;
          top: -10px;
        }
        &-center {
          position: absolute;
          margin-left: -10px;
          top: 30px;
        }
        &-right {
          position: absolute;
          right: 0;
          margin-right: -25px;
          top: -10px;
          &-input {
            border-radius: 5px;
            border: 1px solid grey;
            height: 30px;
            position: absolute;
            right: -40px;
            top: -10px;
            width: 50px !important;
            padding-left: 5px;
          }
          &-input input {
            height: 30px !important;
            margin: 0 !important;
            font-size: 0.9rem !important;
            border: none !important;
          }
        }
        // input
        &-input {
          font-size: 0.8rem;
          position: relative;
          // margin-bottom: 25px;
        }
      }
    }
  }
}
